
body {
  font-family: 'Inter', sans-serif;
  background: #171836;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* HEADER ===================================== */
#header {
  padding: 32px 0;
}

.nav-wrap {
  position: relative;
  left: -120px;
}

.nav-list-item a {
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  line-height: 17px;
  color: #fff;
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
}

.nav-list-item {
  margin-left: 44px;
}

.nav-list-item:hover a {
  opacity: 1;
}

.language {
  display: flex;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: #D1D1D7;
}

.language .bx-globe {
  font-size: 32px;
}

.btn {
  padding: 12px 32px;
  margin-left: 32px;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: #FFFFFF;
  background: #F5443B;
  border: 1px solid #F5443B;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
}

.login-btn:hover {
  background: transparent;
  color: #F5443B;
}
/* /HEADER ===================================== */


/* HERO SECTION ===================================== */
#hero {
  position: relative;
  padding-bottom: 150px;
}

.hero-img {
  position: absolute;
  width: 748px;
  left: 0;
}

.hero-image-wrap::before {
  position: absolute;
  content: '';
  display: block;
  width: 90px;
  height: 90px;
  top: 150px;
  z-index: 2;
  background:url(../img/lamp-icon.png);
  background-size: cover;
  border-radius: 20px;
  transform: rotate(-8.82deg);
  animation-name: lamp-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.hero-image-wrap::after {
  position: absolute;
  content: '';
  display: block;
  width: 90px;
  height: 90px;
  top: 35px;
  left: 510px;
  z-index: 2;
  background:url(../img/book-icon.png);
  background-size: cover;
  border-radius: 20px;
  transform: rotate(12.79deg);
  animation-name: book-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.joined-wrap {
  padding: 20px;
  position: absolute;
  top: 620px;
  left: 350px;
  background: linear-gradient(180deg, rgba(76, 94, 157, 0.8) -32.08%, rgba(23, 24, 54, 0.8) 127.36%);
  border-radius: 20px;
}

.student-img:nth-child(2),
.student-img:nth-child(3),
.student-img:nth-child(4),
.student-img:nth-child(5){
  margin-left: -20px;
}


.join-text {
  margin-left: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  color: #BBBBC4;
}

.join-text span {
  color: #F5443B;
}

.hero-text {
  padding-top: 100px;
}

.hero-title {
  font-weight: 600;
  font-size: 56px;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: #ffffffcc;
}

.paragraph,
.suggest-title {
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: #ffffff66;
}

form {
  margin-top: 56px;
  position: relative;
}

input {
  width: 506px;
  height: 68px;
  left: 814px;
  top: 538px;
  background: #1F2143;
  border: none;
  border-radius: 12px; 
}

::placeholder {
  padding-left: 30px;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.4);
}

.search-btn {
  position: absolute;
  top: 10px;
  right: 0;
  width: 44px;
  height: 44px;
  background: #282B57;
  border: none;
  border-radius: 6px;
}

.search-btn i {
  font-size: 25px;
}

.suggestions {
  margin-top: 48px;
}

.suggest-wrap {
  margin-top: 35px;
}

.suggest {
  display: inline-block;
  padding: 10px 15px;
  margin-left: 0;
  margin-right: 10px;
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #9a9ccb99;
  border: 1px solid #9a9ccb99;
  border-radius: 6px;
}


/* /HERO SECTION ===================================== */


/* MENTOR SECTION ===================================== */
#mentor {
  padding: 66px 0;
  position: relative; 
}

.mentor-card {
  margin-left: 80px;
}

.mentor-card::before {
  content: '';
  position: relative;
  display: inline-block;
  top: 45px;
  left: -80px;
  margin-right: 30px;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.mentor-card:nth-child(1)::before {
  background-image: url(../img/mentor1.png);
}
.mentor-card:nth-child(2)::before {
  background-image: url(../img/mentor2.png);
}
.mentor-card:nth-child(3)::before {
  background-image: url(../img/mentor3.png);
}

.mcard-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #ffffffb3;
}

.mcard-p {
  margin-top: 23px;
  font-weight: normal;
  font-size: 14px;
  line-height: 170%;
  color: #ffffff99;
}

/* /MENTOR SECTION ===================================== */


/* COURSES SECTION ===================================== */
#courses {
  padding-top: 66px;
  height: 850px;
  position: relative;

}

.title {
  font-weight: 600;
  font-size: 36px;
  line-height: 150%;
  color: #ffffffcc;
}

.courses-p {
  margin-top: 20px;
}

.courses-cards {
  margin-top: 84px;
}

.course-img {
  border-radius: 12px;
}

.video {
  padding: 6px 16px;
  position: absolute;
  left: 20px;
  top: 145px;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  background: #ffffff33;
  color: #FFFFFF;
  border-radius: 8px;
}

.course-card {
  position: relative;
  padding: 12px 12px 24px 12px;
  width: 276px;
  height: 390px;
  text-align: left;
  background: linear-gradient(180deg, #202246 -53.38%, rgba(40, 43, 87, 0.17) 100%);
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
}

.course-category {
  margin-top: 24px;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: #3BF5BD;
}

.course-card-title {
  margin-top: 8px;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #ffffffcc;
}

.course-card-p {
  padding-bottom: 15px;
  margin-top: 12px;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff66;
  border-bottom: 1px solid #292B56;;
}

.tutor-text {
  margin-top: 20px;
  position: relative;
  left: 60px;
  width: 50%;
}

.tutor-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #ffffffcc;
}

.tutor-text::before {
  content: '';
  position: absolute;
  top: 0;
  left: -60px;
  width: 40px;
  height: 40px;
  display: inline-block;
}

.tutor-text1::before {
  background-image: url(../img/tutor1.png);
}
.tutor-text2::before {
  background-image: url(../img/tutor2.png);
}
.tutor-text3::before {
  background-image: url(../img/tutor3.png);
}
.tutor-text4::before {
  background-image: url(../img/tutor4.png);
}

.prof {
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  color: #ffffff66;
}

.course-card-btn-wrap {
  margin-top: 48px;
  color: #fff;
}

.course-card-btn {
  margin-left: 47px;
  opacity: 0;
  transition: all 0.5s ease;
  transition-delay: 0.2s;
  border: 1px solid #F5443B;
}

.course-card-btn:hover {
  background-color: transparent;
  color: #F5443B;
  transition: all 0.3s ease;
  transition-delay: 0;
}

.course-card:hover {
  height: 485px;
}

.course-card:hover .course-card-btn {
  opacity: 1;
}

.class-btn-wrap {
  position: absolute;
  margin-top: 100px;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
}

.classes-btn {
  padding: 15px 32px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #F5443B;
  border: 1px solid #F5443B;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.classes-btn:hover {
  background-color: #F5443B;
  color: #fff;
}

/* /COURSES SECTION ===================================== */

/* WEBINAR SECTION ===================================== */
#webinar {
  padding-top: 150px;
  padding-bottom: 85px;
  position: relative;
}

.webinar-videos {
  margin: 104px;
  position: relative;
}

.left {
  position: absolute;
  top: 100px;
  left: 0;
}

.center {
  z-index: 3;
}

.right {
  position: absolute;
  top: 100px;
  right: 0;
  z-index: 0;
}

.slide-btn-wrap {
  margin-top: -56px;
  text-align: right;
}

.slide-btn-wrap i {
  top: 1px;
  position: relative;
  transform: rotate(180deg);
}

.slide-btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #D1D1D7;
  text-shadow: 0px 5px 10px #2E3062;
}
/* /WEBINAR SECTION ===================================== */


/* PRICING SECTION ===================================== */
#pricing {
  padding: 85px 0;
}

.price-p {
  margin-top: 15px;
}
/* /PRICING SECTION ===================================== */



@keyframes lamp-animation {
  0% {
    transform: rotate(-8.82deg);
  }
  50% {
    transform: rotate(8.82deg);
  }
  100% {
    transform: rotate(-8.82deg);
  }
}

@keyframes book-animation {
  0% {
    transform: rotate(12.79deg);
  }
  50% {
    transform: rotate(-12.79deg);
  }
  100% {
    transform: rotate(12.79deg);
  }
}

